<div class="<% if(isAndroid){ %>weui-skin_android <% } %><%= className %>">
    <div class="weui-mask"></div>
    <div class="weui-actionsheet">
        <% if(!isAndroid && title){ %>
        <div class="weui-actionsheet__title">
            <p class="weui-actionsheet__title-text"><%= title %></p>
        </div>
        <% } %>
        <div class="weui-actionsheet__menu">
            <% for(var i = 0; i < itemList.length; i++){ %>
            <div class="weui-actionsheet__cell"><%= itemList[i] %></div>
            <% } %>
        </div>
    </div>
</div>
